{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Efficiency</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{% static 'css/knowledge.css' %}" rel="stylesheet">
</head>
<!--<head>
    <title>My Resume Web Site</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{% static 'css/scroll.css' %}" rel="stylesheet">
</head>-->
<body>
    <script>
        // make it the level before we increment it 
        document.addEventListener("DOMContentLoaded", () => {
            let level = document.getElementById("bar").innerHTML
            document.getElementById("bar").innerHTML = level%10
            document.getElementById("progress_bar").style.width = document.getElementById("bar").innerHTML*10+"%"
            let switch_btn = document.getElementById("switch_btn");
            switch_btn.addEventListener("click", function() {
                let connection_form = document.getElementById("add_connection_form")
                let events_form = document.getElementById("add_events_form")
                if (connection_form.style.display == "none"){
                    switch_btn.innerHTML = "switch to adding events"
                    connection_form.style.display = "block"
                    events_form.style.display = "none"
                }
                else{
                    switch_btn.innerHTML = "switch to adding connections"
                    connection_form.style.display = "none"
                    events_form.style.display = "block"
                }

            })

        });
        
    </script>
    <nav>
        <ul>
            <li><a id ="link" href="{% url 'index' %}">Mission Control</a></li>
            <li><a id ="link" href="network">NetWork</a></li>
            <li><a id ="link" href="knowledge">Knowledge</a></li>
            <li><a id ="link" href="player" target="_blank">Player</a></li>
            <li><a id ="link" href="https://calendar.google.com/calendar/u/0/r" target="_blank">Calendar</a></li>
            <li><a id ="link" href="emailsender">Get Summary</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="row">
          <div class="col">
            <h1>Events</h1>
            <a class="btn btn-dark btn-lg" style="margin-top: 10px;" href="network/meetups">Meetups</a>
            <br>
            <a class="btn btn-dark btn-lg" style="margin-top: 10px;" href="network/hakatons">Hakatons</a>
            <br>
            <a class="btn btn-dark btn-lg" style="margin-top: 10px;" href="network/conferences">Conferences</a>
            <br>
            <a class="btn btn-dark btn-lg" style="margin-top: 10px;" href="network/Others">Others</a>
          </div>
          <div class="col">
            <h1>University</h1>
            <blockquote class="trello-board-compact">
                <a href="https://trello.com/b/Gl80vQPC">Trello Board</a>
              </blockquote>
              <script src="https://p.trellocdn.com/embed.min.js"></script>
          </div>
          <div class="col">
            <h1>Work</h1>
            <blockquote class="trello-board-compact">
                <a href="https://trello.com/b/9vqqlVFc">Trello Board</a>
              </blockquote>
              <script src="https://p.trellocdn.com/embed.min.js"></script>
          </div>
          </div>
          <br><br><br>
        <div class="row">
            <div class="col">    
            <div id="addconnection"> 
            <form action="" method="post" autocomplete="off" id="add_connection_form">
                {% csrf_token %}
                {{ connection_form }}
                <br><br>
                <input name="addconnection" class="btn btn-dark btn-lg" type="submit" value="Submit">       
            </form>
        </div> 
        <div id="addevent"> 
            <form action="" method="post" autocomplete="off" style="display:none;" id="add_events_form">
                {% csrf_token %}
                {{ event_form }}
                <br><br>
                <input name="addevent" class="btn btn-dark btn-lg" type="submit" value="Submit">       
            </form>
        </div> 
                <a style="margin-left: 40%;" class="btn btn-dark btn-lg" href="{% url 'networkdb' %}">NetWork</a>
                <button  id="switch_btn" style="margin-left: 20%;"class="btn btn-dark btn-lg">Switch To Adding Events </button>
                   
            </div>
        </div>
        <div class="row">
            <div class="col">    
                <br><br>
                <h5 > level : {{level}}</h5>
                <h5 id="bar">  {{people}}</h5>
                <div class="progress" style="height: 30px;">
                    <div id ="progress_bar"class="progress-bar" role="progressbar" style="width:0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
            </div>        
        </div>
        </div>
</body>
</html>
