body{
    background-color: #cafafe;
}
nav {
    width: 100%!important;
    background: #262626!important;
    overflow: hidden!important;
    /*box-shadow: rgb(255, 144, 0) 8px 16px 120px;*/
}
    
ul{
    padding: 0!important;
    list-style: none!important;
    
}
    
li{
    float: left!important;
    padding-left: 50px!important;
    text-align: left;
    
}
#link{
    padding: 5px !important;
    width: 100px  !important;
    display: block !important;
    text-decoration: none !important;
    color: #fff !important;
    text-transform: uppercase!important;
    font-weight: bold!important;
    }

.btn-dark:hover{
    color: rgb(75, 255, 246)!important;
    color: #97caef!important;
    box-shadow:  0px 0px 2px 2px rgb(75, 255, 246);

}
h1{
    color: #55bcc9;
}


#submit_btn{
    color: white;
    background-color: rgb(2, 54, 52);
    
}

#submit_btn:hover{
    box-shadow:0px 0px 5px 5px rgb(82, 143, 141);
}